DISCORD_BOT_TOKEN="MTA3OTY2ODEwMDEwODE0NDc2Mg.GoRSuN.YugQ4TeCalqJpTDQD9pgacdk49o-ULSJs7O_p8"
ENDPOINT="https://char-ride-regular-cause.trycloudflare.com"
# Set this to true if you want it to ignore messages prefixed with .
PERIOD_IGNORE="True"
